<link rel="stylesheet" type="text/css" media="screen" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" />
<h1 id="heading" >Potential Candidates</h1>
<table id="border">
 <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Experience Level</th>
      <th>End date</th>
      <th>Current role</th>
      <th>Current company</th>
      <th>Engineer type</th>
      <th>City</th>
      <th>Pay range</th>
      <th>Preferred contract</th>
      <th>Available now</th>
      <th>Cv</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @end.each do |z| %>
  <tbody>
      <tr>
        <td id="border"><%= image_tag User.find(z).contractor.photo_url if User.find(z).contractor.photo_url %></td>
        <td id="border"><%= User.find(z).full_name %></td>
        <td id="border"><%= User.find(z).contractor.lvl_of_exp %></td>
        <td id="border"><%= User.find(z).contractor.end_date %></td>
        <td id="border"><%= User.find(z).contractor.current_role %></td>
        <td id="border"><%= User.find(z).contractor.current_company %></td>
        <td id="border"><%= User.find(z).contractor.engineer_type %></td>
        <td id="border"><%= User.find(z).contractor.city %></td>
        <td id="border"><%= User.find(z).contractor.pay_range %></td>
        <td id="border"><%= User.find(z).contractor.pref_contract %></td>
        <td id="border"><%= User.find(z).contractor.available_now %></td>
        <td id="border"><a target="_blank" href="<%=User.find(z).contractor.cv%>">View CV</a></td>
        <td id="border"><%= User.find(z).contractor.linkedin %></td>
        <td id="border"><%= User.find(z).contractor.github %></td>
      </tr>
  </tbody>
<% end %>
</table>

