<div class="container pt-3">
<div class="row justify-content-sm-center">
<div class="col-sm-6 col-md-4">

<div class="card border-info text-center">
<div class="card-header">
Contractor
</div>
<div class="card-body">
<%= image_tag "contract.jpg", class: "icon-login", id: "center" %>

<%= form_with(model: contractor, local: true) do |form| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lvl_of_exp %>
    <%= form.select :lvl_of_exp, ["Junior", "Mid", "Senior"] %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  
  <div class="field">
    <%= form.label :engineer_type %>
    <%= form.select :engineer_type, ["Front end", "Back end", "Full stack"] %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city, ["Sydney", "Melbourne", "Brisbane", "Adelaide", "Perth", "Canberra", "Hobart", "Darwin"] %>
  </div>

  <div class="field">
    <%= form.label :will_move %>
    <%= form.check_box :will_move %>
  </div>

  <div class="field">
    <%= form.label :pay_range %>
    <%= form.select :pay_range, ["0-200", "200-400", "400-600", "600-800", "800-1000", "1000+" ] %>
  </div>

  <div class="field">
    <%= form.label :pref_contract %>
    <%= form.select :pref_contract, ["3 months", "6 months", "9 months", "12 months" ] %>
  </div>

  <div class="field">
    <%= form.label :available_now %>
    <%= form.check_box :available_now %>
  </div>

  
  <br />
  <div class="field">
    <%#= form.label :current_role %>
    <%= form.text_field :current_role, class: "form-control mb-2", placeholder: "Current Role" %>
  </div>

  <div class="field">
    <%#= form.label :current_company %>
    <%= form.text_field :current_company, class: "form-control mb-2", placeholder: "Current Company"  %>
  </div>


  <div class="field">
    <%#= form.label :linkedin %>
    <%= form.text_field :linkedin, class: "form-control mb-2", placeholder: "LinkedIn"  %>
  </div>

  <div class="field">
    <%#= form.label :github %>
    <%= form.text_field :github, class: "form-control mb-2", placeholder: "Github"  %>
  </div>

<div class="field">
    <b>Photo</b><%#= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <b>CV</b><%#= form.label :cv %>
    <%= form.file_field :cv %>
  </div>
  <br/>

  <%= form.submit "Submit", class: "btn btn-lg btn-primary btn-block mb-1" %>

<% end %>

</div>

</div>
</div>

</div></div></div>
