<%= form_with(model: contractor, local: true) do |form| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lvl_of_exp %>
    <%= form.select :lvl_of_exp, ["Junior", "Mid", "Senior"] %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :current_role %>
    <%= form.text_field :current_role %>
  </div>

  <div class="field">
    <%= form.label :current_company %>
    <%= form.text_field :current_company %>
  </div>

  <div class="field">
    <%= form.label :engineer_type %>
    <%= form.select :engineer_type, ["Front end", "Back end", "Full stack"] %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :will_move %>
    <%= form.check_box :will_move %>
  </div>

  <div class="field">
    <%= form.label :pay_range %>
    <%= form.select :pay_range, ["0-200", "200-400", "400-600", "600-800", "800-1000", "1000+" ] %>
  </div>

  <div class="field">
    <%= form.label :pref_contract %>
    <%= form.select :pref_contract, ["3 months", "6 months", "9 months", "12 months" ] %>
  </div>

  <div class="field">
    <%= form.label :available_now %>
    <%= form.check_box :available_now %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :cv %>
    <%= form.file_field :cv %>
  </div>

  <div class="field">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
