<p id="notice"><%= notice %></p>

<h1>Your Profile</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Experience Level</th>
      <th>End date</th>
      <th>Current role</th>
      <th>Current company</th>
      <th>Engineer type</th>
      <th>City</th>
      <th>Pay range</th>
      <th>Preferred contract</th>
      <th>Available now</th>
      <th>Cv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= image_tag current_user.contractor.photo if current_user.contractor.photo %></td>
        <td><%= current_user.contractor.user.full_name %></td>
        <td><%= current_user.contractor.lvl_of_exp %></td>
        <td><%= current_user.contractor.end_date %></td>
        <td><%= current_user.contractor.current_role %></td>
        <td><%= current_user.contractor.current_company %></td>
        <td><%= current_user.contractor.engineer_type %></td>
        <td><%= current_user.contractor.city %></td>
        <td><%= current_user.contractor.pay_range %></td>
        <td><%= current_user.contractor.pref_contract %></td>
        <td><%= current_user.contractor.available_now %></td>
        <td><a target="_blank" href="<%=current_user.contractor.cv%>">View CV</a></td>
        <td><%= current_user.contractor.linkedin %></td>
        <td><%= current_user.contractor.github %></td>
        <td><%= link_to 'Edit', edit_contractor_path(current_user.contractor) %></td>
        <td><%= link_to 'Delete Account', current_user.contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>
