<div class="container pt-3">
<div class="row justify-content-sm-center">
<div class="col-sm-6 col-md-4">

<div class="card border-info text-center">
<div class="card-header">
Sign in to continue
</div>
<div class="card-body">
<%= image_tag "contract", class: "icon-login" %>
<%# <h4 class="text-center">Contrack</h4> %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2", placeholder: "Email" %>
  </div>

  <div class="field">
    <%#= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control mb-2", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, class: "checkbox float-left" %>
      <%#= f.label :remember_me, class: "checkbox float-left" %> <label class="checkbox float-left"> &nbsp;Remember me </label>
    </div>
  <% end -%>

  <div class="actions">
  
    <%=  f.submit "Log in", class: "btn btn-lg btn-primary btn-block mb-1" %>
  
  </div>
<% end %>
<%= render "devise/shared/links"%>
</div>
</div>

</div></div></div>
