<div class="container pt-3">
<div class="row justify-content-sm-center">
<div class="col-sm-6 col-md-4">

<div class="card border-info text-center">
<div class="card-header">
New Recruiter (1-2)
</div>
<div class="card-body">
<%= image_tag "contract.jpg", class: "icon-login" %>

<%= form_with(model: recruiter, local: true) do |form| %>
  <% if recruiter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruiter.errors.count, "error") %> prohibited this recruiter from being saved:</h2>

      <ul>
      <% recruiter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%#= form.label :company %>
    <%= form.text_field :company, class: "form-control mb-2", placeholder: "Company" %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: "btn btn-lg btn-primary btn-block mb-1" %>
  </div>
<% end %>

</div>

</div>
</div>

</div></div></div>
